* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  height: 100vh;
  background: url("../img/bg-anime.jpg") no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  background: rgba(2, 6, 23, 0.85);
  padding: 35px;
  width: 320px;
  border-radius: 15px;
  text-align: center;
  color: #e5e7eb;
  box-shadow: 0 0 30px rgba(56, 189, 248, 0.5);
  animation: fadeIn 1s ease;
}

.login-container h2 {
  color: #38bdf8;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 0.9em;
  margin-bottom: 20px;
  opacity: 0.8;
}

.login-container input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 8px;
  border: none;
  outline: none;
}

.login-container button {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  background: linear-gradient(90deg, #6366f1, #22d3ee);
  color: #020617;
}

.login-container button:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

button.back {
  background: #020617;
  color: #38bdf8;
  border: 1px solid #38bdf8;
}

#mensaje {
  margin-top: 15px;
  font-size: 0.9em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
button.back:hover {
  background: #38bdf8;
  color: #020617;
  transition: 0.3s;
}
