* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* HEADER */
.header {
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.header h1 {
    font-size: 2.5rem;
}

.header p {
    margin-top: 10px;
    font-size: 1.1rem;
}

/* NAV */
.nav {
    background: #0f2027;
}

.nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 15px;
}

.nav li {
    margin: 0 15px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.nav a:hover {
    text-decoration: underline;
}

/*botones*/
button {
    background-color: #2a5298;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

/* MAIN */
.main {
    display: flex;
    gap: 20px;
    padding: 40px;
}

/* SECTIONS */
.section {
    flex: 1;
    background: #f4f4f4;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.section h2 {
    margin-bottom: 20px;
    color: #2a5298;
}

/* ARTICLES */
.section article {
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.section article h3 {
    margin-bottom: 8px;
    color: #333;
}

.section article p {
    font-size: 0.95rem;
    color: #555;
}

/* FOOTER */
.footer {
    background: #0f2027;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .main {
        flex-direction: column;
    }
}
@media (max-width: 600px) {
    .header h1 {
        font-size: 2rem;
    }

    .nav ul {
        flex-direction: column;
        align-items: center;
    }

    .nav li {
        margin: 10px 0;
    }
}